<h1>Hello Angular World!!!</h1>

<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>
<!--<button (click)="onToggle()">Toggle</button>-->

<!--<div [ngStyle]="{-->
<!--width: '200px',-->
<!--height: '200px',-->
<!--borderRadius: '5px',-->
<!--border: '2px solid #ccc',-->
<!--backgroundColor: backgroundToggle ? 'red' : 'blue'-->
<!--}"></div>-->

<!--<p [ngClass]="{-->
<!--red: backgroundToggle,-->
<!--blue: !backgroundToggle-->
<!--}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem earum, illo iure molestiae porro.</p>-->

<p
  [class.red]="backgroundToggle"
  [class.blue]="!backgroundToggle"
>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem earum, illo iure molestiae porro.</p>
